html,body{
  background-color: gainsboro;
  }

.App{
  display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
    height: 100%;
    width: 100%;
}

.task-create{
  width: 450px;
  
}

.task-update{
  width: 100%;
}

.task-form{
  display: flex;
    flex-direction: column;
   
}

.task-label{
  margin: 10px 0px;
  font-weight: bold;
  font-family: revert;
  
}

.task-input{
  padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.task-button{
  border: 1px solid green;
    margin: 10px 0px;
    padding: 10px;
    background-color: lightgreen;
    border-radius: 10px;
    font-size: 20px;
}

.update-button{
  background-color: mediumorchid;
}

.task-list{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task-show{
  border: 1px solid limegreen;
  border-radius: 30px;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.task-title{
  margin-bottom: 5px;
}

.task-edit{
  padding: 5px;
  font-size: 15px;
  width: 100px;
  border: none;
  border-radius: 30px;
  background-color: royalblue;
  color: mintcream;
  margin-right: 15px;
}

.task-delete{
  padding: 5px;
  font-size: 15px;
  width: 60px;
  border: none;
  border-radius: 30px;
  background-color: tomato;
  color: mintcream;
  margin-right: 15px;
}

